<mat-table [dataSource]="clients" >

  <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell  *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell  *matCellDef="let client"> {{client.name}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell  *matHeaderCellDef> E-mail </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{client.email}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{ client.phone | phoneFormat }} </mat-cell>
  </ng-container>

  <!-- actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button mat-icon-button color="primary" aria-label="Adicionar um novo cliente">
        <mat-icon (click)="onAdd()">add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let client" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar cliente">
        <mat-icon (click)="onEdit(client)">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Remover cliente">
        <mat-icon (click)="onDelete(client)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
